<table class="table mt-3">
    <thead>
        <tr>
            <th class="table-info" scope="col">Title</th>
            <th class="table-info" scope="col">Status</th>
            <th class="table-info" scope="col">Created On</th>
            <th class="table-info" scope="col">Upadate</th>
            <th class="table-info" scope="col">Delete</th>
            
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let todo of todos">
            <td (click)='goSingleTodoPage(todo)'>{{todo.title.length < 25 ? todo.title : todo.title|slice:1:25}}...</td>
            <!-- <td>{{todo.complete}}</td> -->
            <td *ngIf="todo.complete; else notComplete">Complete</td>
            <ng-template #notComplete>
                <td>Running</td>    
            </ng-template>
            <td>{{todo.createdOn | date:'fullDate'}}</td>
            <td>
                <button type="button" class="btn btn-success btn-block" (click)="goEditPage(todo.id)">Edit</button>
            </td>
            <td>
                <button type="button" class="btn btn-danger btn-block">Delete</button>
            </td>
        </tr>
    </tbody>
</table>